<div class="card-client-container">
    <div class="card-client-label-container">
        <span class="card-client-label-title">Cliente</span>
        <span class="card-client-label-text">Nombres</span>
        <span class="card-client-label-text">Apellidos</span>
        <span class="card-client-label-text">Cedula de Ciudadanía</span>

    </div>
    <div class="card-client-text-container">
        <span class="card-client-label-title"></span>
        <span class="card-client-label-text">Nikola</span>
        <span class="card-client-label-text">Tesla</span>
        <span class="card-client-label-text">11333666999</span>

    </div>
</div>