table {
  width: 77vw;
  border: 1px solid #dfdfdf;
}
.mat-form-field {
  font-size: 1vw;
  width: 100%;
}
td, th {
  width: 12.8vw;
}
[class*=' ng-tns-c96'] {
  color: #757575;
  font-family: Poppins!important;
  font-weight: 700!important;
  font-size: 0.9vw!important;
}
.mat-paginator-outer-container {
  border: 1px solid #dfdfdf;
}
.mat-row , .mat-header-row{
  height: 4.7vh!important;
}
.mat-cell{
  font-size: 1vw!important;
  font-family: Poppins!important;
  font-weight: 500!important;
}
.mat-paginator-page-size-label, .mat-paginator-range-label{
  font-size: 1vw!important;
  font-family: Poppins!important;
  font-weight: 500!important;
}
.mat-paginator-page-size {
  align-items: center!important;
}