<div class="card-simple-container">
    <div class="card-simple-label-container">
        <span class="card-simple-label-title">{{titleCard}}</span>
        <span class="card-simple-label-text">{{firstLabel}}</span>
        <span class="card-simple-label-text">{{secondLabel}}</span>
        <span class="card-simple-label-text">{{thirdLabel}}</span>
    </div>
    <div class="card-simple-text-container">
        <span class="card-simple-label-title"></span>
        <span class="card-simple-label-text">{{firstInput}}</span>
        <span class="card-simple-label-text">{{secondInput}}</span>
        <span class="card-simple-label-text">{{thirdInput}}</span>
    </div>
</div>