@import "/src/assets/theme/styles.scss";

.card-simple-container {
    width: 40.3vw;
    border: 1px solid #dfdfdf;
    border-radius: 1.2vw;
    display: flex;
}
.card-simple-label-container {
    width: 18vw;
    border-right: 1px solid #dfdfdf;
    padding-left: 1.15vw;
    padding-right: 1vw;
}
.card-simple-text-container {
    width: 18vw;
    padding-left: 1.15vw;
    padding-right: 1vw;
}
.card-simple-label-title {
    @include mixin-card-style;
    height: 5.5vh;
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 1.5vw;
}
.card-simple-label-text {
    @include mixin-card-style;
    height: 4.25vh;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.35vw;
}
.card-simple-label-description {
    @include mixin-card-style;
    height: 4.9vh;
    font-weight: 500;
    font-size: 1.11vw;
    line-height: 1.2vw;
}
.card-simple-text-description {
    @include mixin-card-style;
    height: 4.9vh;
    font-weight: 100;
    font-size: 0.97vw;
    line-height: 1.1vw;
}