<div class="select-number-quota">
  <div class="select-radio-group">
      <label class="select-radio-label">Seleccione Número de Cuotas</label>
      <mat-radio-group class="select-radio-container" [(ngModel)]="labelPosition">
        <mat-radio-button class="select-radio-button" value="1">1</mat-radio-button>
        <mat-radio-button class="select-radio-button" value="3">3</mat-radio-button>
        <mat-radio-button class="select-radio-button" value="6">6</mat-radio-button>
        <mat-radio-button class="select-radio-button" value="12">12</mat-radio-button>
        <mat-radio-button class="select-radio-button" value="24">24</mat-radio-button>
        <mat-radio-button class="select-radio-button" value="36">36</mat-radio-button>
      </mat-radio-group>
  </div>
  <div class="select-button-container">
    <button (click)="sendDues(labelPosition)" class="select-form-button">Realizar Compra</button>
  </div>
</div>