<div class="select-radio-group">
    <label class="select-radio-label">Seleccione Número de Cuotas</label>
    <mat-radio-group class="select-radio-container" [(ngModel)]="labelPosition">
      <mat-radio-button class="select-radio-button" value="1">1</mat-radio-button>
      <mat-radio-button class="select-radio-button" value="2">3</mat-radio-button>
      <mat-radio-button class="select-radio-button" value="3">6</mat-radio-button>
      <mat-radio-button class="select-radio-button" value="4">12</mat-radio-button>
      <mat-radio-button class="select-radio-button" value="5">24</mat-radio-button>
      <mat-radio-button class="select-radio-button" value="6">36</mat-radio-button>
    </mat-radio-group>
</div>