@import "/src/assets/theme/styles.scss";

.card-credit-container {
    width: 40.3vw;
    border: 1px solid #dfdfdf;
    border-radius: 1.2vw;
    display: flex;
    height: auto;
}
.card-credit-label-container {
    width: 18vw;
    border-right: 1px solid #dfdfdf;
    padding-left: 1.15vw;
    padding-right: 1vw;
}
.card-credit-text-container {
    width: 18vw;
    padding-left: 1.15vw;
    padding-right: 1vw;
}

.card-credit-label-title {
    @include mixin-card-style;
    height: 4.4vh;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 1.35vw;
}

.card-credit-label-text {
    @include mixin-card-style;
    height: 3vh;
    font-weight: 500;
    font-size: 1.11vw;
    line-height: 1.2vw;

}
.card-credit-label-text-bold{
    @include mixin-card-style;
    height: 3vh;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.35vw;
}
.card-credit-label-description {
    @include mixin-card-style;
    height: 4.9vh;
    font-weight: 500;
    font-size: 1.11vw;
    line-height: 1.2vw;
}
.card-credit-text-description {
    @include mixin-card-style;
    height: 4.9vh;
    font-weight: 100;
    font-size: 0.97vw;
    line-height: 1.1vw;
}