<div class="card-credit-container">
    <div class="card-credit-label-container">
        <span class="card-credit-label-title">{{titleLabel}}</span>
        <span class="card-credit-label-text">Estado del crédito</span>
        <span class="card-credit-label-text">Electrodoméstico</span>
        <span class="card-credit-label-text">Precio</span>
        <span *ngIf="activeCredit" class="card-credit-label-text">Saldo pendiente</span>
        <span class="card-credit-label-description">Descripción</span>
        <span class="card-credit-label-text">Código de artículo</span>
        <span class="card-credit-label-text">{{dateLabel}}</span>
    </div>
    <div class="card-credit-text-container">
        <span [ngStyle]="{'color': stateCredit}" class="card-credit-label-title">{{titleInput}}</span>
        <span [ngStyle]="{'color': stateCredit}" class="card-credit-label-text-bold">{{stateInput}}</span>
        <span class="card-credit-label-text">{{productName}}</span>
        <span class="card-credit-label-text">{{priceInput}}</span>
        <span *ngIf="activeCredit" class="card-credit-label-text">{{balanceInput}}</span>
        <span class="card-credit-text-description">{{productDescription}}</span>
        <span class="card-credit-label-text">{{productCode}}</span>
        <span class="card-credit-label-text">{{productDate | date: 'M/d/yyyy'}}</span>
    </div>
</div>