<div class="card-credit-container">
    <div class="card-credit-label-container">
        <span class="card-credit-label-title">{{titleLabel}}</span>
        <span class="card-credit-label-text">Estado del crédito</span>
        <span class="card-credit-label-text">Electrodoméstico</span>
        <span class="card-credit-label-text">Precio</span>
        <span class="card-credit-label-description">Descripción</span>
        <span class="card-credit-label-text">Código de artículo</span>
        <span class="card-credit-label-text">Fecha de solicitud</span>
    </div>
    <div class="card-credit-text-container">
        <span [ngStyle]="{'color': stateCredit}" class="card-credit-label-title">{{titleInput}}</span>
        <span [ngStyle]="{'color': stateCredit}" class="card-credit-label-text-bold">{{creditInput.estado}}</span>
        <span class="card-credit-label-text">{{creditInput.electrodomestico.nombre}}</span>
        <span class="card-credit-label-text">{{priceInput}}</span>
        <span class="card-credit-text-description">{{creditInput.electrodomestico.descripcion}}</span>
        <span class="card-credit-label-text">{{creditInput.electrodomestico.codigoArticulo}}</span>
        <span class="card-credit-label-text">{{creditInput.fechaCreacion  | date: 'M/d/yyyy'}}</span>
    </div>
</div>
