<div class="card-credit-container">
    <div class="card-credit-label-container">
        <span class="card-credit-label-title">Código de Aprobación</span>
        <span class="card-credit-label-text">Estado del crédito</span>
        <span class="card-credit-label-text">Electrodoméstico</span>
        <span class="card-credit-label-text">Precio</span>
        <span class="card-credit-label-description">Descripción</span>
        <span class="card-credit-label-text">Código de artículo</span>
        <span class="card-credit-label-text">Fecha de solicitud</span>
    </div>
    <div class="card-credit-text-container">
        <span class="card-credit-label-title">123456789</span>
        <span class="card-credit-label-text-bold">Aprobado</span>
        <span class="card-credit-label-text">Nevera</span>
        <span class="card-credit-label-text">$1.500.000</span>
        <span class="card-credit-text-description">Nevera Top Freezer 410L con DoorCooling, HygieneFresh+ y conectividad Wi-Fi, plateada</span>
        <span class="card-credit-label-text">987654321</span>
        <span class="card-credit-label-text">10/06/2021</span>
    </div>
</div>
