.form-template-container{
  width: 23.6vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.form-template-title{
  text-align: center;
  width: 100%;
  height: 8vh;
  font-family: Poppins!important;
  font-weight: 500!important;
  font-size: 1.6vw!important;
  line-height: 1.7vw;
}
.form-template-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-template-form-field {
  width: 100%;
  padding: 0px 8px 0px 8px;
  height: 9vh;

}
.mat-form-field-flex {
  width: 100%;
  height: 6.2vh;
}
.mat-form-field-infix {
  border: 0;
  margin: 0!important;
  padding: 0!important;
}
.form-template-input {
  padding-bottom: 1vh!important;
  height:6vh;
  width: 19vw!important;
  font-family: Poppins!important;
  font-weight: 500!important;
  font-size: 1.35vw!important;
  padding-left: 10px!important;
  padding: 3.5px 10px 0vmax 10px!important;

}
.mat-error {
  color: #9E2A2B!important;
  font-size: 0.9vw!important;
}
[class*='ng-tns-c64'] {
 color: rgba(0, 0, 0, 0.6)
}
.form-template-container-button{

  height: 8vh;
  display: flex;
  align-items:flex-end;
  text-align: center;
}
.form-template-button{
  width: 22.5vw;
  height: 6.2vh;
  background-color: black;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4vh;
  line-height: 2.5vmax;
  color: #FFFFFF;
  border-radius: 5px;
  border: 0;
}
