.management-header-container {
    position: absolute;
    width: 100vw;
    height: 7vh;
    display: block;
}
.management-body-container {
    position: absolute;
    top: 7vh;
    height: 93vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.management-request-form {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.management-body-divider {
    position:absolute;
    left: 50vw;
    width: 1px;
    border-left: 1px solid #dfdfdf;
    height: 64%;
}
.management-request-card {
    width: 50vw;
    height: 87vh;
    padding-top: 6vh;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.management-card-client {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 18.25vh;
    padding-bottom: 3vh;
}
.management-card-container {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 24.3vh;
    padding-bottom: 3vh;
}
.management-select-container {
    display: flex;
    justify-items: center;
    width: 50vw;
    height: 8.3vh;
    padding-bottom: 6vh;
}

