<header class="management-header-container">
    <app-header-main [showMenu]="showMenuHeader"></app-header-main>
</header>

<body class="management-body-container">
    <div class="management-request-form">
        <form-template
            (newFormValue)="getClient($event)"
            [titleForm]="loginTitle"
            [firstPlaceholder]="documentLabel"
            [secondPlaceholder]="codeLabel"
            [buttonForm]="button">
        </form-template>
    </div>
    <div class="management-body-divider"></div>

    <div class="management-request-card">
        <div class="management-card-client ">
            <app-card-simple
                [titleCard]="titleClient"
                [firstLabel]="namesClient"
                [secondLabel]="surnamesClient"
                [thirdLabel]="documentClient"
                [firstInput]="namesClientInput"
                [secondInput]="surnamesClientInput"
                [thirdInput]="documentClientInput">
            </app-card-simple>
        </div>
        <div class="management-card-container">
            <app-card-credit *ngIf="conditionCard" [creditInput]="credit">
            </app-card-credit>
            <app-credit-template *ngIf="!conditionCard">
            </app-credit-template>
        </div>
        <div class="management-select-container" *ngIf="conditionSelect">
            <app-select-dues
            (newUpdateDues)="updateDues($event)"
            ></app-select-dues>
        </div>

    </div>

</body>