<header class="quota-header-container">
    <app-header-main></app-header-main>
</header>

<body class="quota-body-container">
    <div class="quota-request-form">
        <div class="quota-form-container">
            <form-template
                (newItemEvent)="getClient($event)"
                [showSecondPlaceholder]="showPassword"
                [titleForm]="formTitle"
                [firstPlaceholder]="documentLabel"
                [buttonForm]="button">
            </form-template>
        </div>
        <div class="quota-card-container">
            <app-card-simple
                [titleCard]="titleClient"
                [firstLabel]="namesClient"
                [secondLabel]="surnamesClient"
                [thirdLabel]="documentClient"
                [firstInput]="namesClientInput"
                [secondInput]="surnamesClientInput"
                [thirdInput]="documentClientInput">
            </app-card-simple>
        </div>

    </div>
    <div class="quota-body-divider"></div>

    <div class="quota-request-card">
        <div class="quota-simple-card">
        <app-card-quota *ngIf="!conditionCard"
        (updateCard)="cardChange($event)"
        (updateState)="stateChange($event)"
            (saveQuota)="updateSave($event)"
            [titleCard]="titleQuota"
            [firstLabel]="stateQuota"
            [secondLabel]="totalQuota"
            [thirdLabel]="freeQuota"
            [firstInput]="stateQuotaInput"
            [secondInput]="totalQuotaInputFormat"
            [thirdInput]="freeQuotaInput">
        </app-card-quota>
         <app-card-simple *ngIf="conditionCard"
                [titleCard]="titleQuota"
                [firstLabel]="stateQuota"
                [secondLabel]="totalQuota"
                [thirdLabel]="freeQuota"
                [firstInput]="stateQuotaInput"
                [secondInput]="totalQuotaInput"
                [thirdInput]="freeQuotaInput">
            </app-card-simple>
        </div>
            <button  *ngIf="conditionCard" (click)="updateOn()"
            class="quota-form-button">Modificar</button>
    </div>


</body>