.quota-header-container {
    position: absolute;
    width: 100vw;
    height: 7vh;
    display: block;
}
.quota-body-container {
    position: absolute;
    top: 7vh;
    height: 93vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.quota-request-form {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.quota-body-divider {
    position:absolute;
    left: 50vw;
    width: 1px;
    border-left: 1px solid #dfdfdf;
    height: 64%;
}
.quota-request-card {
    width: 50vw;
    height: auto;
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.quota-form-container {
    display: flex;
    justify-content: center;
    padding-top: 33%;
    width: 50vw;
    height: 30%;
}
.quota-card-container {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    width: 50vw;
    height: 37%;
}
.quota-form-button {
    margin-top: 5vh;
    width: 22.5vw;
    height: 6.2vh;
    background-color: black;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4vh;
    line-height: 2.5vmax;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
  }
  .quota-simple-card{
    display: flex;
    justify-content: center;
    width: 50vw;
  }
