<div class="login-container">
    <span class="login-title">Inicia sesión</span>
    <form class="login-form">
        <mat-form-field class="login-form-field" appearance="outline">
            <input class="login-input" matInput placeholder="Usuario" [formControl]="usuario" required>
            <mat-error *ngIf="usuario.invalid">{{getErrorMessageUser()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="login-form-field" appearance="outline">
            <input class="login-input" matInput placeholder="Contraseña" [formControl]="password" required
                [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
        <div class="login-container-button">
            <button class="login-button">Entrar</button>
        </div>

    </form>
</div>