<header class="records-header-container">
    <app-header-main></app-header-main>
</header>

<body class="records-body-container">
    <div class="records-request-form">
        <div class="records-form-container">
            <form-template (newFormValue)="getClient($event)" [showSecondPlaceholder]="showPassword"
                [titleForm]="formTitle" [firstPlaceholder]="documentLabel" [buttonForm]="button">
            </form-template>
        </div>
        <div class="records-card-simple">
            <app-card-simple [titleCard]="titleClient" [firstLabel]="namesClient" [secondLabel]="surnamesClient"
                [thirdLabel]="documentClient" [firstInput]="namesClientInput" [secondInput]="surnamesClientInput"
                [thirdInput]="documentClientInput">
            </app-card-simple>
        </div>
    </div>
    <div class="records-body-divider"></div>
    <div *ngIf="conditionCard" class="records-request-card">
        <div class="records-card-container" *ngFor="let credit of credits">
            <app-card-credit *ngIf="conditionCard" [creditInput]="credit">
            </app-card-credit>
        </div>
    </div>
    <div *ngIf="!conditionCard" class="records-request-card">
        <div class="records-card-container">
            <app-credit-template>
            </app-credit-template>
        </div>
    </div>
</body>