<div class="credit-template-container">
    <div class="credit-template-label-container">
        <span class="credit-template-label-title">Código de Aprobación</span>
        <span class="credit-template-label-text">Estado del crédito</span>
        <span class="credit-template-label-text">Electrodoméstico</span>
        <span class="credit-template-label-text">Precio</span>
        <span class="credit-template-label-description">Descripción</span>
        <span class="credit-template-label-text">Código de artículo</span>
        <span class="credit-template-label-text">Fecha de solicitud</span>
    </div>
    <div class="credit-template-text-container">
        <span class="credit-template-label-title"></span>
        <span class="credit-template-label-text-bold"></span>
        <span class="credit-template-label-text"></span>
        <span class="credit-template-label-text"></span>
        <span class="credit-template-text-description"></span>
        <span class="credit-template-label-text"></span>
        <span class="credit-template-label-text"></span>
    </div>
</div>
