.credit-template-container {
    width: 40.3vw;
    border: 1px solid #dfdfdf;
    border-radius: 1.2vw;
    display: flex;
    height: auto;
}
.credit-template-label-container {
    width: 18vw;
    border-right: 1px solid #dfdfdf;
    padding-left: 1.15vw;
    padding-right: 1vw;
}
.credit-template-text-container {
    width: 18vw;
    padding-left: 1.15vw;
    padding-right: 1vw;
}
.credit-template-label-title {
    height: 4.4vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 1.35vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.87);
}
.credit-template-label-text {
    height: 3vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.11vw;
    line-height: 1.2vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.87);
}
.credit-template-label-text-bold{
    height: 3vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.35vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.87);
}
.credit-template-label-description {
    height: 4.9vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.11vw;
    line-height: 1.2vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color:  rgba(0, 0, 0, 0.87);

}
.credit-template-text-description {
    height: 4.9vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 100;
    font-size: 0.97vw;
    line-height: 1.1vw;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.87);
}