<div class="page-login-container">
    <img class="page-login-logo" src="assets/logo/logo-white.svg">
    <div class="page-login-container-div">
        <div class="page-login-title">
            SILOKO CREDIT
        </div>
        <div class="page-login-app">
            <form-template [showSecondPlaceholder]="showPassword" [titleForm]="loginTitle" [firstPlaceholder]="user" [secondPlaceholder]="password"
                [buttonForm]="button">
            </form-template>
        </div>

    </div>

</div>